body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://cdn.onebauer.media/one/empire-tmdb/films/19995/images/5XPPB44RQGfkBrbJxmtdndKz05n.jpg?quality=50&width=1800&ratio=16-9&resizeStyle=aspectfill&format=jpg); 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://5b0988e595225.cdn.sohucs.com/images/20190204/d3e0dd5b35ea44eda87996e8ca36375a.jpeg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://cdn1.thr.com/sites/default/files/2020/02/parasite.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://keeponthegrassdotnet.files.wordpress.com/2016/07/crouching-tiger-hidden-dragon1.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://image.lnstzy.cn/aoaodcom/2019-12/13/2019121302141689eb02da2c2a2ebece389d881623b9a9.jpg.h700.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
